.right {
  position: absolute;
  right: 40px;  
  top: 250px;  
}
body {
  background-image: url('http://i2.wp.com/cdn.bgr.com/2014/01/twitch-2013.jpg?w=625')
}
.jumbotron {
  background-image: url('http://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_banner-6f5e3445ff474aec-480.png');  
  color: #6442A6;  
  opacity: 0.8;
}

h1 {
  position: relative;
  text-align: center;
  opacity: 1;
}

.show {
  position: relative;  
}

.container {
  position: relative;
  top: 80px;
  left: 20px;
  max-height: 512px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-around;
  background-color: white;
  opacity: 0.7;
}

.containImg {
  height: 200px;  
}


.content {
  position: relative;
  left: 10px;
}

.round_img {
  border-radius: 50px;
}

#search {
  opacity: 0.7;
  border-radius: 20px;
  height: 35px;
}
.submit {
  border-radius: 10px;
}

.live {
  position: absolute;
  top: 10px;
  right: 0; 
  margin-right: 10px
}

#objects {
  height: 100%;
}